/* PieChartTooltip.css */

.pie-tooltip-container {
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.pie-tooltip-title {
    font-weight: bold;
    font-size: 0.875rem; 
}

.pie-tooltip-value {
    font-weight: bold;
}


.dashboard-page-title {
    margin-bottom: 20px; 
    font-weight: bold;
    color: #2b2525;
    text-transform: uppercase;
   
}

.dashboard-page-container {
    min-height: 100vh;
    background-color: #e9e9e9;
    padding-top: 32px; 
    padding-bottom: 32px;
}


.chart-card {
    height: 400px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 
                0px 6px 10px 0px rgba(0,0,0,0.14), 
                0px 1px 18px 0px rgba(0,0,0,0.12); 
    border-radius: 4px; 
    padding: 16px; 
}

.card-header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px; 
}


.flex-center-80-height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}


.card-content-center-300 {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 300px;          
}

.flex-column-center-full-height {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    height: 100%;        
}