/* Dashboard.css */
.counter-card {
  animation: fadeInUp 0.8s ease;
  transition: transform 0.3s;
}

.counter-card:hover {
  transform: scale(1.05);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  /* background: #f7f7f7; */
  padding: 5px;
  border-radius: 5px;
}

.marquee-text {
  display: inline-block;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* --- Styles for Rows >= 12 Months (Red/Pink - Highest Urgency) --- */
.row-red,
.row-red td {
    background-color: #e5e5e5 !important; 
   
    border-color: #e5e5e5 !important; 
}

.row-orange,
.row-orange td {

    background-color: #fff3cd !important; 
    border-color: #ffeeba !important;
}


.row-yellow,
.row-yellow td {
    /* Very light yellow background */
    background-color: #fffceb !important; 
    border-color: #fff9e6 !important;
}

.row-blue,
.row-blue td,
.row-yellowtest, 
.row-yellowtest td {
    background-color: #d4edda !important; 
    border-color: #c3e6cb !important;
}